.garden {
  flex-grow: 1;
}

.h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.3;
  margin-top: 16px;
}

.bar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 36px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 600px) {
  .bar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .filters {
    flex-direction: row;
    align-items: center;
  }
}

.p {
  font-family: var(--font-open-sans);
  font-style: italic;
}
