.intro {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 900px) {
  .intro {
    justify-content: end;
  }
}

.h1 {
  margin-block: 0.5em;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.25;

  span {
    font-weight: 900;
  }
}

@media (max-width: 768px) {
  .h1 {
    font-size: 2rem;
  }
}

.h2 {
  font-size: 4rem;
}

.p {
  font-size: 1.25rem;
  line-height: 1.75;
  margin-bottom: 1em;
  text-wrap: pretty;
}

@media (max-width: 768px) {
  .p {
    font-size: 1rem;
  }
}

.form {
  padding-inline: 4rem;
  margin-top: 1.25rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  input {
    border: none;
    border-bottom: 1.5px solid;
    background: inherit;
    font-family: var(--font-mono), monospace;
    font-size: 0.9rem;
    outline-offset: 4px;

    &::placeholder {
      color: inherit;
      opacity: 0.5;
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }
  }

  button {
    padding: 4px 12px;
    color: var(--white);
    background: var(--dark-green);
    border: 1.5px solid var(--dark-green);
    border-radius: 4px;
    font-family: var(--font-mono), monospace;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    transition: all var(--base-timing) ease-in-out;

    &:not(:disabled):hover {
      background: inherit;
      border-color: inherit;
      color: inherit;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .confirm {
    padding: 4px 12px;
    border: 1.5px dashed;
    border-radius: 4px;
    font-family: var(--font-mono), monospace;
  }
}

@media (min-width: 900px) {
  .form {
    flex-direction: row;
    width: 100%;

    input {
      flex-grow: 1;
    }
  }
}

.featured {
  margin-block: 1rem;
  border: 1.5px solid var(--code-bg);
  border-radius: 4px;

  & > a {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    color: var(--text-color);

    &:not(:last-child) {
      border-bottom: 1.5px dashed var(--code-bg);
    }

    img {
      margin: 4px;
      background-color: var(--white);
      border-right: 1.5px solid var(--code-bg);
      border-radius: 2px;
    }

    h3 {
      font-size: 2.5rem;
      line-height: 1;
      text-wrap: pretty;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1.25rem;
      font-style: italic;
      text-wrap: pretty;
      padding-right: 2rem;
    }

    &:hover {
      opacity: 0.75;
    }
  }
}

@media (max-width: 768px) {
  .featured {
    & > a {
      flex-direction: column;
      gap: 0;

      img {
        border-right: none;
        margin-bottom: -3rem;
      }

      div {
        padding: 2rem;
      }
    }
  }
}
